div#container
{
    position: absolute;
    top: 20%;
    left: 40%;
}

div#container a.btn
{
    width: 250px;
    height: 50px;
    background-color: #EEEEEE;
    color: #333333;
    font: bold 15px Arial;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    display: block;
}
