div#container
{
    position: absolute;
    top: 20%;
    left: 40%;
}

div#container input[type='text']
{
    float: right;
    margin-left: 10px;
}

div#container div#type
{
    display: flex;
}

div#container div#type div#descr
{
    align-self: center;
}

div#container div#type div#choices
{
    margin-left: 85px;
}

div#container div#type div#choices p
{
    margin: 2px;
}

div#container input[type='submit']
{
    display: block;
    margin: 0 auto;
}

