div#container
{
    position: absolute;
    top: 20%;
    left: 40%;
}

div#container div#inputs
{
    width: 70%;
}

div#container div#inputs input[type='text']
{
    float: right;
}

div#container div#inputs input[type='submit']
{
    display: block;
    margin: 0 34%;
}
