<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/index.css" />
    </head>
    
    <body>
        <div id='container'>
            <a class='btn' href='http://localhost:9090/update_search_artist'>UPDATE & SEARCH ARTISTS</a>
            <a class='btn' href='http://localhost:9090/searchsongs'>SEARCH SONGS</a>
            <a class='btn' href='http://localhost:9090/insertartist'>INSERT ARTIST</a>
            <a class='btn' href='http://localhost:9090/insertsong'>INSERT SONG</a>
        </div>
    </body>
</html>
